<h1>
        After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. Striding the line between physical reality and metaphor __, she went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. 
</h1> 

<h1>
    Ana's work across disciplines has been featured on Vogue and Huffington Post. She's been quoted on Forbes, Shopify and the Evernote blog. Her writing has gained her an accolade as a Top Writer on Medium and has been shared by AIGA.
</h1>

<h1>       

    Currently, Ana is playing with content and emerging technology for social and immersive media in fashion, retail, and interactive entertainment.
</h1>