<h1>
        After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. 
</h1> 

<h1>
    Ana has been featured on Vogue, Huffington Post, Forbes, and was once a Top Writer on Medium.
</h1>

<h1>       

    Currently, Ana is playing with content and emerging technology for social and immersive media in fashion, retail, and interactive entertainment.
</h1>