<div class="work-left">
    <div class="project">
        <div class="work-top">
            <div>Wonder Machine</div>
            <div class="work-top-right">2020</div>
        </div>
        <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/flower.jpg">
        <div class="work-status">Loading...</div>
     
    </div>
      <div class="project">
        <div class="work-top">
            <div>Bread</div>
        <div class="work-top-right">2020</div>
        </div>
         <p>She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
         <div class="project-images">
            <img src="http://localhost:4000/assets/img/flower.jpg">
            <img src="http://localhost:4000/assets/img/flower.jpg">
            <img src="http://localhost:4000/assets/img/flower.jpg">
            </div>
            <div class="work-status"><a href="http://ana.substack.com" target="_blank">Subscribe at ana.substack.com</a></div>
           
    </div>
<div class="project">
        <div class="work-top">
            <div>Colorflutter</div>
            <div class="work-top-right">2019</div>
        </div>
        <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/colorflutter.png">
        <div class="work-status">Archived</div>
     
    </div>


    </div>
<div class="work-right">
       <div class="project">
        <div class="work-top">
            <div>Website2020</div>
            <div class="work-top-right">2020</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/website2020.png">
        <div class="work-status">Loading...</div>
       
    </div>
         <div class="project">
        <div class="work-top">
        <div>PTL Beauty</div>
          <div class="work-top-right">2016-2018</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. </p>
         <div class="project-images">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6618.jpg?v=1550719070">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6629.jpg?v=1550719069">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6382.jpg?v=1545005660">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/pet_l__beauty_oil_co._ptlbeauty_Instagram_photos_and_videos_2018-04-23_21-51-29.png?v=1534488097">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6587.jpg?v=1548039411">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6420.jpg?v=1550729488">
            </div>
        <div class="work-status">Loading...</div>
</div>
<div class="project">
        <div class="work-top">
        <div>@ShopifySupport</div>
          <div class="work-top-right">2018-2019</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. </p>
        <img src="http://localhost:4000/assets/img/shopifysupport.png">
        <div class="work-status">Loading...</div>
</div>
    </div>