<div class="work-left">
    <div class="project">
        <div class="work-top">
            <div>Wonder Machine</div>
            <div class="work-top-right">2020</div>
        </div>
        <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/wondermachine.png">
        <div class="work-status">Live but inactive / <a href="http://www.wondermachine.info" target="_blank">View at www.wondermachine.info</a></div>
      
    </div>
      <div class="project">
        <div class="work-top">
            <div>Bread</div>
        <div class="work-top-right">2020</div>
        </div>
         <p>She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
         <div class="project-images">
            <img src="http://localhost:4000/assets/img/flower.jpg">
            <img src="http://localhost:4000/assets/img/flower.jpg">
            <img src="http://localhost:4000/assets/img/flower.jpg">
            </div>
            <div class="work-status"><a href="http://ana.substack.com" target="_blank">Subscribe at ana.substack.com</a></div>
           
    </div>
    <div class="project writing">
        <div class="work-top">
            <div>"Middle Management"</div>
        <div class="work-top-right">2019</div>
        </div>
         <p>She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
      
            <div class="work-status"><a href="http://ana.substack.com" target="_blank">Subscribe at ana.substack.com</a></div>
           
    </div>
    <div class="project">
        <div class="work-top">
            <div>Website2019</div>
        <div class="work-top-right">2019</div>
        </div>
         <p>She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
         <div class="project-images">
            <img src="http://localhost:4000/assets/img/website2019.png">
            <img src="http://localhost:4000/assets/img/website2019b.png">
            <img src="http://localhost:4000/assets/img/website2019c.png">
            </div>
            <div class="work-status">Archived</div>
           
    </div>
    <div class="project">
        <div class="work-top">
            <div>A blog about loungewear</div>
            <div class="work-top-right">2018</div>
        </div>
        <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/ptler.jpg">
        <div class="work-status">Archived</div>
     
    </div>
<div class="project">
        <div class="work-top">
            <div>Colorflutter</div>
            <div class="work-top-right">2019</div>
        </div>
        <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/colorflutter.png">
        <div class="work-status">Archived</div>
     
    </div>
    <div class="project">
        <div class="work-top">
        <div>The Good Closet</div>
          <div class="work-top-right">2013-2017</div>
        </div>
    <p>In 2011, I started a small fashion label focused on essential pieces rather than "basics". The line was featured in various media online and in print. After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
    <div class="project-images">
    <img src="http://localhost:4000/assets/img/thegoodcloset.png">
    <img src="http://localhost:4000/assets/img/thegoodcloset2.png">
    <img src="http://localhost:4000/assets/img/thegoodcloset3.jpg">
    </div>
        <div class="work-status">Archived</div>
    </div>
   


    </div>





<div class="work-right">
  
       <div class="project">
        <div class="work-top">
            <div>Website2020</div>
            <div class="work-top-right">2020</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/website2020.png">
        <div class="work-status">Archived</div>
       
    </div>
    <div class="project">
        <div class="work-top">
            <div>Gender in top films, 2010-2019</div>
            <div class="work-top-right">2019</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="http://localhost:4000/assets/img/topfilms.png">
        <div class="work-status">Archived</div>
       
    </div>
         <div class="project">
        <div class="work-top">
        <div>PTL Beauty</div>
          <div class="work-top-right">2016-2018</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
         <div class="project-images">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6618.jpg?v=1550719070">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6629.jpg?v=1550719069">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6382.jpg?v=1545005660">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/pet_l__beauty_oil_co._ptlbeauty_Instagram_photos_and_videos_2018-04-23_21-51-29.png?v=1534488097">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6587.jpg?v=1548039411">
            <img src="https://cdn.shopify.com/s/files/1/1949/2635/files/IMG_6420.jpg?v=1550729488">
            </div>
        <div class="work-status">Loading...</div>
</div>
<div class="project">
        <div class="work-top">
        <div>@ShopifySupport</div>
          <div class="work-top-right">2018-2019</div>
        </div>
    <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
        <img src="http://localhost:4000/assets/img/shopifysupport.png">
        <div class="work-status">Loading...</div>
</div>
<div class="project">
    <div class="work-top">
    <div>Kangaloop, a startup</div>
      <div class="work-top-right">2014-2016</div>
    </div>
<p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups.</p>
<img src="http://localhost:4000/assets/img/kangaloop.png">
    <div class="work-status">Archived</div>
</div>
<div class="project">
    <div class="work-top">
    <div>Jammies for Parade</div>
      <div class="work-top-right">2014</div>
    </div>
<p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. </p>
    <img src="https://cdn.shopify.com/s/files/1/0104/9873/6194/products/image_812f62cf-c2a8-438c-9372-20d3171907e7_900x.jpg?v=1590966558">
    <div class="work-status"><a href="http://paradebaby.com" target="_blank">Shop at paradebaby.com</a></div>
</div>
<div class="project">
    <div class="work-top">
    <div>Wang Works Minimalist Flair</div>
      <div class="work-top-right">2012</div>
    </div>
<p>In 2011, I started a small fashion label focused on essential pieces rather than "basics". The line was featured in various media online and in print.</p>
    
<p>  "The result is a classic, fitted button-down that looks great tucked, untucked, and even tied up in the front. The well-executed basic led to a couple more pieces, and by March of this year, she had her first capsule collection, which included a belt-optional mini with loose three-quarter cuffed sleeves. This understated chic design turned out to be a favourite among customers. So naturally when Wang launched her silk collection, she included the Parker Silk Shirtdress, which is essentially the same design in a different fabric and comes in five colours: black, bone, petal, evergreen, and a gorgeous eye-popping fuchsia.</p>

    <p> Another understated highlight from this collection—which she sells exclusively through her website—is her machine-washable, super-simple, slightly flared silk tank that skims the body in a loose, unassuming way—again, fresh and modern, but trend-proof." -Georgia Straight</p>
   
    <div class="work-status">Archived</div>
</div>
<div class="project">
    <div class="work-top">
    <div>On sustainable fashion</div>
      <div class="work-top-right">2012</div>
    </div>
<p>In 2011, I started a small fashion label focused on essential pieces rather than "basics". The line was featured in various media online and in print.</p>
    
<img src="http://localhost:4000/assets/img/clips-huffpost.png">
   
    <div class="work-status">Archived</div>
</div>

    </div>