<div class="work-left">
    <div class="project">
        <div class="work-top">
            <div>Candle v1</div>
            <div class="work-top-right">Product</div>
        </div>
        <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        <img src="https://cdn.shopify.com/s/files/1/0026/4683/5273/products/EW1053-web.jpg?v=1603916425">
        <div class="work-status">Coming soon</div>
      
    </div>

</div>
            
<div class="work-right">
    <div class="project writing">
            <div class="work-top">
                <div>How to learn to code</div>
                <div class="work-top-right">How To</div>
             </div>
            <p>After graduating with a degree in fashion design and technology, Ana Wang started her career working in lingerie, bridal and childrenswear. She went on to work in content and media to move ideas forward and build mainstream appeal in the fields of sustainability, entrepreneurship and education at companies such as Shopify and SuperHi, as well as independently for various startups. </p>
        
            <div class="work-status"><a href="/2020/11/28/learn-to-code.html">Read it here</a></div>
        
        </div>
</div>