<div class="index">Show: 
    <span class="selected filter all" onclick="filterObjects('all')">All</span>
    <span class="filter" onclick="filterObjects('product')">Product</span>
    <span class="filter" onclick="filterObjects('development')">Development</span>
    <span class="filter" onclick="filterObjects('writing')">Writing</span>
    <span class="filter" onclick="filterObjects('howto')">How To</span>
    </div>
  



<div class="work">
<div class="work-left">
    <div class="project product">
        <div class="work-top">
            <div>Candle v01-03</div>
            <div class="work-top-right">Product</div>
        </div>
        <p>I've been a digital creator for 2 decades now and have yearned to find something to ground me in a more tangible and physical reality through the senses. During the pandemic, I started experimenting with fragrance and candles centering around a concept of novel florals beyond the sweetly saccharine and _ and something slighly more mysterious, global and unexpected. After months of testing, I released 3 scents: Sunny Side Up, Moonshot and Jamais Vu. </p>
        <img src="https://cdn.shopify.com/s/files/1/0026/4683/5273/products/EW1053-web.jpg?v=1603916425">
        <div class="work-status"><a href="http://www.ptl-ptl.com" target="_blank">Coming January 2021</a></div>
      
    </div>
    <div class="project writing">
        <div class="work-top">
            <div>Bread</div>
            <div class="work-top-right">Writing</div>
        </div>
        <p>I've been a digital creator for 2 decades now and have yearned to find something to ground me in a more tangible and physical reality through the senses. During the pandemic, I started experimenting with fragrance and candles centering around a concept of novel florals beyond the sweetly saccharine and _ and something slighly more mysterious, global and unexpected. After months of testing, I released 3 scents: Sunny Side Up, Moonshot and Jamais Vu. </p>
        <img src="https://cdn.shopify.com/s/files/1/0026/4683/5273/products/EW1053-web.jpg?v=1603916425">
        <div class="work-status"><a href="http://www.ptl-ptl.com" target="_blank">Coming January 2021</a></div>
      
    </div>

</div>
            
<div class="work-right">
    <div class="project writing howto">
            <div class="work-top">
                <div>"Reinvention"</div>
                <div class="work-top-right">How To</div>
             </div>
            <p>A major theme of my personal research and writing is reinvention, and I wanted to put together resources for anyone to access, the same things I've read and seen that have inspired me to be the not just the inventor of my own career and life, but  </p>
        
            <div class="work-status"><a href="/2020/12/11/reinvention.html">Read it here</a></div>
        
        </div>
        <div class="project development">
            <div class="work-top">
                <div>PTL</div>
                <div class="work-top-right">Shopify Development + Brand</div>
             </div>
            <p>A work-in-progress for almost a decade, I've used PTL as the banner for multiple projects over the years. In 2016, I released the first version of what would become PTL 2021, an online store to act as the space for all my retail projects going forward.  </p>
        
            <div class="work-status"><a href="/2020/12/11/reinvention.html">Read it here</a></div>
        
        </div>
</div>

</div>



<div class="footer">
    <h2>...And everything else before this (1988-2020) is <a href="/archives">internet dust</a>.
    </h2>
  </div>
