<div class="services-flex">

    <div class="services">

        <div class="services-title">Services</div>
        <div>Content writing -></div>
        <div>Consulting -></div>
        <div>Copywriting -></div>
    </div>

    <div class="contact">
        <div class="services-title">Contact</div>
        <div>ana@ana-wang.com</div>
        <div>ana_et_al</div>
        <div></div>

    </div>

    <div class="contact">
        <div class="services-title">Etc.</div>
        <div><a href="/">link a</a></div>
        <div><a href="/">link a</a></div>
        <div></div>

    </div>



</div>