<div class="services-flex">

    <div class="services">

        <div class="services-title">Services</div>
        <div><span class="services-toggle">Content + editorial writing -></span>
            <span class="services-details hidden">I specialize in well-researched, long form content on topics including learning, transformation, reinvention, and creativity. I've been publishing online for well over a decade, most recently as Head of Content at SuperHi, a creative education startup. I've written for education, fashion, personal and professional development and my writing style involves injecting sometimes difficult and "boring" subjects with approachability, pop culture references and narrative storytelling.  </span>

        </div>
        <div><span class="services-toggle">Consulting -></span>
        <span class="services-details hidden">I am available for select consulting engagements, and am looking to work with emerging brands. Think I can help with something? I've held leadership roles in media at Shopify and SuperHi, and have worked on all sorts of content, brand and ecommerce projects over the past decade.</span>
        </div>
        <div><span class="services-toggle">Copywriting -></span>
        <span class="services-details hidden">I have over 8 years of experience writing copy for brands, specializing in ecommerce product copywriting and narrative brandbuilding. My copywriting style combines classic psychology and marketing concepts with an understanding of modern conversion strategies. I can't guarantee there won't be puns ;)</span>
        </div>
        
    </div>

    <div class="contact">
        <div class="services-title">Contact</div>
        <div>ana@ana-wang.com</div>
        <div>IG: <a href="http://instagram.com/ana_et_al" target="_blank">ana_et_al</a></div>
        <div>LinkedIn: <a href="http://linkedin.com/in/anawang" target="_blank">Ana Wang</a></div>

    </div>

    <div class="contact">
        <div class="services-title">Resources</div>
        <div>Coming soon!</div>

    </div>
 


</div>