<div class="services-flex">

    <div class="services">

        <div class="services-title">Services</div>
        <div><span class="services-toggle">Content writing -></span>
            <span class="services-details hidden">this is hidden information about content writing services</span>

        </div>
        <div><span class="services-toggle">Consulting -></span>
        <span class="services-details hidden">this is hidden information about content writing services</span>
        </div>
        <div><span class="services-toggle">Copywriting -></span>
        <span class="services-details hidden">this is hidden information about content writing services</span>
        </div>
    </div>

    <div class="contact">
        <div class="services-title">Contact</div>
        <div>ana@ana-wang.com</div>
        <div>IG: ana_et_al</div>
        <div>LinkedIn: Ana Wang</div>

    </div>

    <div class="contact">
        <div class="services-title">Etc.</div>
        <div><a href="/">link a</a></div>
        <div><a href="/">link a</a></div>
        <div></div>

    </div>



</div>