
<div class="super-toggle">
    <div class="max">Super</div>
    <div class="super">
        <span class="circle"></span>
    </div>
    <div class="min">Basic</div>
</div> 

<script>


function superToggle() {
    var toggle = document.querySelector(".super-toggle")
    var bar = document.querySelector(".super")
    var body = document.querySelector("body")
    var header = document.querySelector(".site-header")
    var homeText = document.querySelector(".home-text")
    var socialLinks = document.querySelector(".social-links")


    toggle.addEventListener("click", function(){
       
        if (bar.style.justifyContent === "flex-start") {
            var footer = document.querySelector(".site-footer")
                bar.style.justifyContent = "flex-end";
                body.style.background = "#ffffff";
                header.style.backgroundImage = "linear-gradient(#ffffff 50%, rgba(255,255,255,0))";
                header.style.backgroundImage = "-webkit-linear-gradient(#ffffff 50%, rgba(255,255,255,0))";
                footer.style.backgroundImage = "linear-gradient(rgba(255,255,255,0), #ffffff)";
                footer.style.backgroundImage = "-webkit-linear-gradient(rgba(255,255,255,0), #ffffff)";
                socialLinks.style.backgroundColor = "#ffffff";
        }
        else {

            var footer = document.querySelector(".site-footer")

            body.style.backgroundSize = "cover";
            body.style.backgroundPosition = "center";
            body.style.backgroundAttachment = "fixed";
            body.style.backgroundImage = "url('/assets/img/clouds.gif')";
            bar.style.justifyContent = "flex-start";
          
            header.style.backgroundImage = "linear-gradient(#64BEF9 50%, rgba(100, 190, 249, 0))";
            header.style.backgroundImage = "-webkit-linear-gradient(#64BEF9 50%, rgba(100, 190, 249, 0))";
            footer.style.backgroundImage = "linear-gradient(rgba(100, 190, 249, 0), #64BEF9)";
            footer.style.backgroundImage = "-webkit-linear-gradient(rgba(100, 190, 249, 0), #64BEF9)";
            socialLinks.style.backgroundColor = "#64BEF9";

        }
    }
)}
superToggle(); 



</script>