<div class="values">

    <div class="work-top">Values</div>
    <div class="values-columns">
        <div><h2>Imagination</h2>

            <p>Currently, Ana is playing with content and emerging technology for social and immersive media in fashion, retail, and interactive entertainment.</p>
        </div>
        <div><h2>Imagination</h2>

            <p>Currently, Ana is playing with content and emerging technology for social and immersive media in fashion, retail, and interactive entertainment.</p>

        </div>
        <div><h2>Imagination</h2>

            <p>Currently, Ana is playing with content and emerging technology for social and immersive media in fashion, retail, and interactive entertainment.</p>

        </div>
        <div><h2>Imagination</h2>

            <p>Currently, Ana is playing with content and emerging technology for social and immersive media in fashion, retail, and interactive entertainment.</p>

        </div>
   
    </div>
</div>