<div class="values home">

    <div class="work-top">Thesis + Values</div>
    <div class="values-columns">
        <div><h2>Imagination</h2>

            <p>When I entered the world of tech and startups, I found many things translated over from the world of fashion: though the pursuit of growth, capital, customer acquisition and "changing the world" created high targets and sky high dreams, tech too was often stuck in a rut of sameness, noise and knockoffs, the game being won by whoever has the most money and best connections, or made enough noise to get the most money and best connections. In the post-industrial age, nothing is won through output alone. Technology and fashion, and even more importantly, people, have an undercurrent of change, and all change requires imagination to lay the groundwork for future possibility.</p>
        </div>
        <div><h2>Transformation</h2>

            <p>After imagination comes transformation, the practical application and process of change. My work often involves helping people see past what is only perception and not the absolute truth to enable all kinds of transformation, from the aesthetic to operational processes. As a systems thinker and a creative, I use my toolbelt of both methodology and intuition from years of observing both the macro and micro forces that shape our lives and the world, in art, business and psychology. And then as a builder, I make it happen or create tools and content to help others do it. </p>

        </div>
        <div><h2>Inclusion</h2>

            <p>Imagination and transformation is for everyone, and I'm interested in helping people change their perceptions of what they can and can't do, what they feel like they should or shouldn't participate in. Through my career, I've had the privilege of working on global teams, and I've learned to actively challenge stereotypes, avoid assumptions, cultivate empathy for others and oneself through leadership and art. I seek divergence not only geographically and demographically but through a study of diverse cultures, subcultures, stereotypes and biases to get comfortable with and normalize diversity not through assimilation but through true inclusion.   </p>

        </div>
        <div><h2>Ephemerality</h2>

            <p>So many of us hold onto permanence, on "forever" as an indicator of success, but things like virality, trend, nature, even the human affliction of mood are sometimes where the most beautiful things come from. So are the moments we chase, the memories we treasure, the way our bodies and along with that, our minds, are just made up of the stardust from one big bang. This concept tends to come up a lot for me, but and it was something that can feel uncomfortable to put on a pedestal when shallow, short, temporary often equates to frivolous or even false. But I think that impact can be a series of (even forgotten) things, you can change your mind and your mood, and life is best run on both the shallow and the deep end.  </p>

        </div>
   
    </div>
</div>