---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://use.typekit.net/arh5obo.css");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); 


body {
    font-family: 'Inter', sans-serif;
    font-size:21px;
   

}

body.stripped {
    background-color:#F9EAF4;
}

a, a:visited {
    color:blue;
  
}

a:hover {
    text-decoration: none;
 

}

.site-title a {
    color: #000000;
 font-family: lores-12, sans-serif;
}

.home-wrapper {

width:95vw;
}

.about {
    border: 1px solid #000000;
    
}

.about .about-top,
.project .work-top {
    border-bottom:1px solid #000000;
    

}

.about-top, .work-top, .work-status {

    padding-left:10px;
   
   
  
    font-family: ten-oldstyle, serif;
   
}

.about-top, .work-top {
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
}
.work-status {
    text-align:right;
    font-size:16px;
    padding:4px;
    border-top: 1px solid #000000;
}

.project .work-top {
    border-top:1px solid #000000;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.work-top-right {
    font-size:12px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:right;
    line-height:1;
    border-left:1px solid #000000;
    padding:8px;
   
}
.project:hover {
    box-shadow: none;

    transform: translate(10px, 10px);
 
}


.about {
    width:90%;
    background-color: white;
}
.about-text {
    padding:30px;
}

.home-wrapper a {
    text-decoration:none;

    border-radius:30px;
    padding-left:10px;
    padding-right:10px;
    background-color:blue;
    color:#ffffff;
}
.home {
  margin:20px;
  

    width:100%;
    
}

.work {
    display:flex;
    width:100%;
   flex-wrap: wrap;
    margin-top:0px;
  
    justify-content:flex-start;

}

.work-left, .work-right {
    width:50%;

}
.project {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    padding:0px;
    width:90%;
    margin-right:80px;
    background-color: white;
    margin-top:70px;
    display:none;
  
}

.index .filter:hover {
    cursor:pointer;
}

.show {
    display:block;
}

.about, .project, .values {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.264);
}

.footer {
    text-align:center;
    font-family: times;
    font-size: 12px;
    margin-top:50px;
    max-width:90%;
}

.project img {
    width:60%;
    padding:5px;
    border:1px solid #000000;
    margin-left:10px;
    margin-bottom:10px;
}
.project p {
    padding:20px 20px 5px;
    font-size:12px;
}
.writing p {
    font-size:24px; 
 }
 
.project-images {
    display:flex;
    width:93%;
    flex-wrap:wrap;
    justify-content:space-between;
    
}

.project-images div {
    width:30%;
}



.project-images img {
    width:100%;
}

.project-images a img:hover {
    cursor:pointer;
}

.home h1 {
    font-size:14px;
   

}

.project-images a {
    background: none;
    padding:0px;
    border-radius:0px;
}

.allover {
    position:fixed;
    top:0;
    left:0;
    z-index:-10;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    height:100vh;
    width:100vw;
}

.home-text {

   
//    margin-bottom:200px;
  
}

.home-images {
    height:100vh;
    transition: 3s ease background-image;
}
.home-images div {
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:50vw;
    background-repeat:no-repeat;
    background-size:contain;
    margin-right:20px;
    z-index:-1;
    background-position:center;
    
}


.home-link {
    z-index:12;
}

.page-content {
    margin-bottom:200px;
}
.full-wrapper {
    padding-left: 10px;
    padding-right:10px;
 
}

.site-footer {
    position:fixed;
    bottom:0;
    height:8vh;
   background-image: linear-gradient(rgba(255,255,255,0), #ffffff);
   background-image: -webkit-linear-gradient(rgba(255,255,255,0), #ffffff);
    z-index: 1;
    padding:0;
    border-top:none;
    color: #000000;
    width:100vw;

}

.site-footer .full-wrapper {
    display:flex;
  flex-direction:column;
  justify-content: flex-end;
  height:100%;
    
}



.site-nav a {
    background-color: #EFCCE3;
    border-radius:80px;
    padding: 12px;
    padding-left:16px;
    padding-right:16px;
    text-transform:uppercase;
    font-size:15px;
    
}

.super-toggle { 
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    right:30px;
    top:100px;
    height: 120px;
    width:22px;
    font-size: 9px;
    transition:1s div ease;
    z-index:10;
    cursor:pointer;

}
.super {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:80px;
    background-color: #cfcfcf;
    border: 0px solid #000000;
    border-radius:15px;

  
}

.super .circle {
 
background-color:#71E728;
height:16px;
width:16px;
z-index:3;
margin:2px;
border-radius:100%;

}

.site-header {
    border-top:none;
    border-bottom:none;
    position:sticky;
    top:0px;
    height:100px;
    background-image: linear-gradient(#ffffff 40%, rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(#ffffff 40%, rgba(255,255,255,0));
    z-index:4;

}

.site-title {
    text-transform: uppercase;
    font-size:60px;



    
}

.site-title-link {
    margin-top:10px;
    padding-left:12px;
}

.post-header h1 {
    padding-top:100px;
    font-size:120px;
    text-align:center;
    font-family: ten-oldstyle, serif;
    font-weight: 300;
    font-style: normal;
    overflow: hidden; 
    border-right: .15em solid black; 
    animation: blink-caret .75s step-end infinite;

}

.loading span {
    overflow: hidden;
    border-right: .12em solid black;
    animation: blink-caret .75s step-end infinite;
    padding-right:3px;
  
}

@keyframes blink-caret {
    from, to { border-right-color: transparent }
    50% { border-right-color: black; }
  } 

.hidden {
    display:none;
}

.social-links {
    font-style:italic;
    
    background-color:#ffffff;
    border-bottom:1px solid #000000;
    padding-bottom:6px;
  
}

.footer-col-wrapper {
    color:#000000;
}

.header-image {
    background-image:linear-gradient(red, yellow);
    
    border-radius:100%;
    width:50px;
    height:50px;
    object-fit: cover;
    background-size: cover;
    background-position:center;
    margin-top:10px;
}


.title-top {
    display:flex;

}

.post-header h1 {
    margin-left: -25%;
    text-align:left;
}

.footer-col {
    width:30%;
}

.post-content h1 {
    margin-left: -25%;
    text-align: left;
    line-height: 1;
    padding-top: 100px;
    font-size: 60px;
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.post-content h2 {
    font-family: lores-12, sans-serif;
    text-transform:uppercase;
}

.article div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}


.home-projects {
    position:fixed;
    bottom:0;
    left:20px;
    z-index:2;
    width:44vw;
    line-height:1.2;
    font-family:times;
    font-style:italic;
    font-size:12px;
}

.project-descriptions {
    position:fixed;
    bottom:50px;
    right:20px;
    height:50px;
    width:40vw;
    z-index:30;
    font-size:14px;
 
    color: #ffffff;
    padding:12px;
}

.stripped .page-content {
    margin-bottom:0px;
}

.start h1 {
    font-size: 14px;
}

.start .links {
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content:space-between;
    font-family: times;
    font-style: italic;
    font-size:64px;
}


.start .links div{
  

    height: auto;
    background-color: #71E728;
    border:1px solid #000000;
    padding:15px 35px;
    margin: 13px;
    border-radius: 45px;
    text-align:center;
}


.start .previouslinks {
    opacity: 0.4;
    background-color: hsla(97, 80%, 53%, 0.315);
    float:left;
}

.stripped .wrapper {
    max-width:2000px;
}


.index {
    display:flex;
    justify-content:space-between;
    font-size:36px;
    margin-top:60px;
    flex-wrap:wrap;
}

.index span {
    margin-right:40px;
}
.selected {
    border-radius:40px;
    border: 1px solid red;
    padding:4px 25px;

}


.values {
    border: 1px solid #000000;
    width:95%;
    height: auto;
    display:flex;
    flex-direction:column;
    margin-top:80px;
    margin-bottom: 80px;
    margin-left:20px; 
    background-color: #ffffff;
}

.values-columns {
    border-top:1px solid #000000;
    display:flex;
    justify-content:space-between;
    padding:10px; 
    flex-wrap:wrap;
    flex-direction:row;
    width:auto;
    font-size:14px;

}

.values-columns div {
    width:20%;
}

.services-flex {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:60px;

}
.services, .contact {
    width:40%;
    display:flex;
    justify-content: center;
   flex-direction:column;
    margin: 0 auto;
    text-align:center;
    font-size:16px;
    padding:20px;
   
}

.services div {
    border-bottom: 1px solid #000000;
}


.services-title {
  
    width:100%;
    text-align:left;
    padding-left:8px;
    font-size:24px;
    
    font-family: ten-oldstyle, serif;
    font-size: 56px;
    font-style: italic;
    text-transform: uppercase;
}


.post-content {
    line-height:1.8;
}
.post-content h1 {
    margin-bottom:60px;
}


.guide-intro {
    font-family: 'times';
    font-style:italic;
    margin:30px 0;
}



.guide-toc {
    top:260px;
    position:fixed;
    right:20px;
    font-size:13px;
    z-index:6;
    text-transform:uppercase;
text-align:right;
}

.guide-grid {

    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-between;
    margin: 30px 0px;
}

.guide-grid div {
    width:30%;
    
}

.guide-grid-steps {
display:flex;
align-items:flex-start;
margin-bottom:30px;
}

.step {
    width:15%;
    font-family: lores-12, 'Permanent Marker', cursive;
    font-size:144px;
    padding-right:30px;
    margin-top: -80px;
    margin-bottom: -50px;
    text-align:center;

}

.post-section{
    position:relative;
}

.post-image {
    position:absolute;
    left:-340px;
    top:0px;
    max-width:300px;
    z-index:-1;
}




.step-content {
    width: 85%;
    font-size:14px;
}

.services-toggle:hover {
    cursor:pointer;
}


.services-toggle {
    display:block;
}



.hidden {
    display: none;
}







// mobile queries

@media (max-width: 1042px) {
.project-images img {
   // width:40%;
}


.services-flex {
  flex-wrap:wrap;


}
.services, .contact {
    width:80%;
    margin:0px;
}

.values {
    flex-wrap:wrap;
    width:80%;
}

}


@media (max-width: 800px) {
  .post-header h1 {
    margin-left: 0%;
    bottom:50px;
    position:absolute;
   }
.home {
    width:100%;
}
   .home h1 {
       font-size:24px;
    
   }
  .about {
      max-width:100%;
  }
   .home-text {
       top:0vh;
   }

   .home-projects {
       display: none;
   }

   .post-header {
       height:100vh;
       position:absolute;
       width:100%;
      top:0;
       left:0;
    
       z-index:3;
   }

.work-left, .work-right {
    width:100%;
}
   .post .post-content {
       position:absolute;
       top:100vh;
       left:0;
       z-index:2;
       height:auto;
       
       padding:20px;
   }
   .super-toggle {
       display:none;
   }

   .project-images img {
    width:90%;
}


.start .links div, .previouslinks div {
    width:100%;
}

.start .site-title {
    text-align:center;
    width:100%;
  
}

.start .site-title-link {
    padding-left: 0px;
}

.start .links {
    font-size:24px;

}

    .values-columns div {
        width:95%;
    }

}

@media (max-width:500px) {

    .project-images div {
        width:80%;
    }
    .site-nav {
        display:none;
    }

    .post-header h1 {
        font-size:72px;
        padding:10px;
       }

    .post-header {
        background-color:#ffffff;
       position:absolute;
    
    }

    .post-content {
        font-size:16px;
    }
}


