---
layout: default
---


{{ content }}

<script>
var homeImage = document.querySelector(".home-images div")
/* var homeLink = document.querySelector(".home-link")
var homeLinkTwo = document.querySelector(".home-link-2")

homeLink.addEventListener("mouseover", function(){

 
    homeImage.style.backgroundImage = "url('/assets/img/nasa.jpg')";
    homeImage.style.zIndex = "1";
    


  })
  homeLink.addEventListener("mouseleave", function(){
      console.log("test")
    homeImage.style.backgroundImage = "none";
    homeImage.style.zIndex = "-10";
  

  })

  homeLinkTwo.addEventListener("mouseover", function(){

 
homeImage.style.backgroundImage = "url('/assets/img/wonder-machine.gif')";
homeImage.style.zIndex = "1";



})
homeLinkTwo.addEventListener("mouseleave", function(){
  console.log("test")
homeImage.style.backgroundImage = "none";
homeImage.style.zIndex = "-10";


}) */



// services toggle 

  const servicesTags = document.querySelectorAll(".services-toggle")
  const articlesList = document.querySelectorAll(".services-details")

  servicesTags.forEach((tag, index) => {
    const articles = articlesList[index];
    tag.addEventListener('click', () => {
      articles.classList.toggle('hidden')
     
    })
  })

// filter projects on homepage

filterObjects("all");

function filterObjects(c) {
  var x, i;
  x = document.getElementsByClassName("project");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    removeClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) addClass(x[i], "show");
  }

}

function addClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1 ) {
      element.className += " " + arr2[i];
    }
  }
}

function removeClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1 ) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);

    }
  }
  element.className = arr1.join(" ");
}


function filters() {
  const filters = document.querySelectorAll(".filter")


  filters.forEach((filter, index) => {
    filter.addEventListener('click', () => {

      if (filter.classList.contains('selected')) {
        filter.classList.remove('selected')
    } else {
      filters.forEach(function(filter) {
        filter.classList.remove('selected');
      })
      filter.classList.add('selected');
    }
        
  })
})
}

filters();

// allover text for newsletter on hover

function allover() {
  const adviceColumn = document.querySelector(".advicecolumn")
  const middleManagement = document.querySelector(".middlemanagement")
  const insideChanel = document.querySelector(".insidechanel")
  const allOver = document.querySelector(".allover")

  adviceColumn.addEventListener("mouseover", function(){ 
    allOver.style.backgroundImage = "url('/assets/img/advicecolumn_text.svg')";
    allOver.style.zIndex = 1000000;
  })

  middleManagement.addEventListener("mouseover", function(){ 
    allOver.style.backgroundImage = "url('/assets/img/middlemanagement_text.svg')";
    allOver.style.zIndex = 1000000;
  })

  insideChanel.addEventListener("mouseover", function(){ 
    allOver.style.backgroundImage = "url('/assets/img/insidechanel_text.svg')";
    allOver.style.zIndex = 1000000;
  })

 adviceColumn.addEventListener("mouseleave", function(){
    allOver.style.backgroundImage = "none";
    allOver.style.zIndex = "-10";
  })
  middleManagement.addEventListener("mouseleave", function(){
    allOver.style.backgroundImage = "none";
    allOver.style.zIndex = "-10";
  })
  insideChanel.addEventListener("mouseleave", function(){
    allOver.style.backgroundImage = "none";
    allOver.style.zIndex = "-10";
  })



}

allover();


</script>
