---
layout: default
---


{{ content }}

<script>
var homeImage = document.querySelector(".home-images div")
/* var homeLink = document.querySelector(".home-link")
var homeLinkTwo = document.querySelector(".home-link-2")

homeLink.addEventListener("mouseover", function(){

 
    homeImage.style.backgroundImage = "url('/assets/img/nasa.jpg')";
    homeImage.style.zIndex = "1";
    


  })
  homeLink.addEventListener("mouseleave", function(){
      console.log("test")
    homeImage.style.backgroundImage = "none";
    homeImage.style.zIndex = "-10";
  

  })

  homeLinkTwo.addEventListener("mouseover", function(){

 
homeImage.style.backgroundImage = "url('/assets/img/wonder-machine.gif')";
homeImage.style.zIndex = "1";



})
homeLinkTwo.addEventListener("mouseleave", function(){
  console.log("test")
homeImage.style.backgroundImage = "none";
homeImage.style.zIndex = "-10";


}) */




  const servicesTags = document.querySelectorAll(".services-toggle")
  const articlesList = document.querySelectorAll(".services-details")

  servicesTags.forEach((tag, index) => {
    const articles = articlesList[index];
    tag.addEventListener('click', () => {
      articles.classList.toggle('hidden')
     
    })
  })




</script>